<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro - Mão Amiga</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <style>
    .custom-form {
      max-width: 700px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="#">Plataforma de Necessidades</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Necessidades Atuais</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="cadastro">Ser Padrinho</a>
                  </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>
  <div class="container mt-4">
    <h2>Cadastro</h2>
    <form class="custom-form" action="resumo" method="post">
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" name='nome' id="nome" placeholder="Digite o nome" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Digite o email" required>
      </div>
      <div class="mb-3">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="tel" class="form-control" name="telefone" id="telefone" placeholder="Digite o telefone" pattern="[0-9]{10,}" required>
        <small>Informe apenas os números (mínimo de 10 dígitos)</small>
      </div>
      <div class="mb-3">
        <label for="tipo" class="form-label">Tipo</label>
        <select class="form-select" id="tipo" name="tipo">
          <option value="pf">Pessoa Física</option>
          <option value="pj">Pessoa Jurídica</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="cpf-cnpj" class="form-label">CPF/CNPJ</label>
        <input type="text" class="form-control" id="cpf-cnpj" name="cpf-cnpj" placeholder="Digite o CPF ou CNPJ" required>
      </div>
    <div class="mb-3">
      <label class="form-label">Itens para doação</label>
      <div class="row">
        <div class="col-sm-2">
            <div class="mb-4" >
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="item1" id="item1">
                    <div class="d-flex justify-content-center align-items-center"">
                        <img src="../static/pao.jpeg" class="card-img-top item-image" alt="Necessidade 1">
                    </div>
                    <label class="form-check-label" for="item1">Item 1</label>
                    <input  type="number" value="quantidade" id="quantidade" class="form-control" placeholder="0">
                  </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="mb-4" >
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="item1" id="item1">
                    <div class="d-flex justify-content-center align-items-center"">
                        <img src="../static/pao.jpeg" class="card-img-top item-image" alt="Necessidade 1">
                    </div>
                    <label class="form-check-label" for="item1">Item 1</label>
                    <input  type="number" value="quantidade" id="quantidade" class="form-control" placeholder="0">
                  </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="mb-4" >
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="item1" id="item1">
                    <div class="d-flex justify-content-center align-items-center"">
                        <img src="../static/pao.jpeg" class="card-img-top item-image" alt="Necessidade 1">
                    </div>
                    <label class="form-check-label" for="item1">Item 1</label>
                    <input  type="number" value="quantidade" id="quantidade" class="form-control" placeholder="0">
                  </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="mb-4" >
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="item1" id="item1">
                    <div class="d-flex justify-content-center align-items-center"">
                        <img src="../static/pao.jpeg" class="card-img-top item-image" alt="Necessidade 1">
                    </div>
                    <label class="form-check-label" for="item1">Item 1</label>
                    <input  type="number" value="quantidade" id="quantidade" class="form-control" placeholder="0">
                  </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="mb-4" >
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="item1" id="item1">
                    <div class="d-flex justify-content-center align-items-center"">
                        <img src="../static/pao.jpeg" class="card-img-top item-image" alt="Necessidade 1">
                    </div>
                    <label class="form-check-label" for="item1">Item 1</label>
                    <input  type="number" value="quantidade" id="quantidade" class="form-control" placeholder="0">
                  </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="mb-4" >
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="item1" id="item1">
                    <div class="d-flex justify-content-center align-items-center"">
                        <img src="../static/pao.jpeg" class="card-img-top item-image" alt="Necessidade 1">
                    </div>
                    <label class="form-check-label" for="item1">Item 1</label>
                    <input  type="number" value="quantidade" id="quantidade" class="form-control" placeholder="0">
                  </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
            <div class="mb-4" >
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="item1" id="item1">
                    <div class="d-flex justify-content-center align-items-center"">
                        <img src="../static/pao.jpeg" class="card-img-top item-image" alt="Necessidade 1">
                    </div>
                    <label class="form-check-label" for="item1">Item 1</label>
                    <input  type="number" value="quantidade" id="quantidade" class="form-control" placeholder="0">
                  </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="mb-4" >
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="item1" id="item1">
                    <div class="d-flex justify-content-center align-items-center"">
                        <img src="../static/pao.jpeg" class="card-img-top item-image" alt="Necessidade 1">
                    </div>
                    <label class="form-check-label" for="item1">Item 1</label>
                    <input  type="number" value="quantidade" id="quantidade" class="form-control" placeholder="0">
                  </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="mb-4" >
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="item1" id="item1">
                    <div class="d-flex justify-content-center align-items-center"">
                        <img src="../static/pao.jpeg" class="card-img-top item-image" alt="Necessidade 1">
                    </div>
                    <label class="form-check-label" for="item1">Item 1</label>
                    <input  type="number" value="quantidade" id="quantidade" class="form-control" placeholder="0">
                  </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="mb-4" >
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="item1" id="item1">
                    <div class="d-flex justify-content-center align-items-center"">
                        <img src="../static/pao.jpeg" class="card-img-top item-image" alt="Necessidade 1">
                    </div>
                    <label class="form-check-label" for="item1">Item 1</label>
                    <input  type="number" value="quantidade" id="quantidade" class="form-control" placeholder="0">
                  </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="mb-4" >
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="item1" id="item1">
                    <div class="d-flex justify-content-center align-items-center"">
                        <img src="../static/pao.jpeg" class="card-img-top item-image" alt="Necessidade 1">
                    </div>
                    <label class="form-check-label" for="item1">Item 1</label>
                    <input  type="number" value="quantidade" id="quantidade" class="form-control" placeholder="0">
                  </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="mb-4" >
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="item1" id="item1">
                    <div class="d-flex justify-content-center align-items-center"">
                        <img src="../static/pao.jpeg" class="card-img-top item-image" alt="Necessidade 1">
                    </div>
                    <label class="form-check-label" for="item1">Item 1</label>
                    <input  type="number" value="quantidade" id="quantidade" class="form-control" placeholder="0">
                  </div>
            </div>
        </div>
      </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Enviar">
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
